xsd/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">
    <!-- 
    +++++++++++++++++++++++++++++++++++++++++++
    Custom simple type: agetype
    Restriction: age should be between 16 - 100
    ++++++++++++++++++++++++++++++++++++++++++++
    -->
    <xs:simpleType name="agetype">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="16"></xs:minInclusive>
            <xs:maxInclusive value="100"></xs:maxInclusive>
        </xs:restriction>
    </xs:simpleType>

    <!-- 
    +++++++++++++++++++++++++++++++++++++++++++
    Custom simple type: gradetype
    Restriction: string from the letter A, B, C & D
    ++++++++++++++++++++++++++++++++++++++++++++
    -->
    <xs:simpleType name="gradetype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A"/>
            <xs:enumeration value="B"/>
            <xs:enumeration value="C"/>
            <xs:enumeration value="D"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- 
    +++++++++++++++++++++++++++++++++++++++++++
    Custom simple type: emailtype
    Restriction: string with a pattern (email regex)
    ++++++++++++++++++++++++++++++++++++++++++++
    -->
    <xs:simpleType name="emailtype">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- 
    +++++++++++++++++++++++++++++++++++++++++++
    Root element: students
    ++++++++++++++++++++++++++++++++++++++++++++
    -->

    <xs:element name="students">
<xs:complexType>
<xs:sequence>
<xs:element name="student" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string"/>
<xs:element name="age" type="agetype"/>
<xs:element name="grade" type="gradetype"/>
<xs:element name="email" type="emailtype"/>
<xs:element name="joindate" type="xs:date"/>
</xs:sequence>
 
            <!-- Attributes -->
<xs:attribute name="id" type="xs:ID" use="required"/>
<xs:attribute name="status" use="optional">
<xs:simpleType>
<xs:restriction base="xs:string">
<xs:enumeration value="active"/>
<xs:enumeration value="inactive"/>
<xs:enumeration value="suspended"/>
</xs:restriction>
</xs:simpleType>
</xs:attribute>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>